# --- Core ML ---
tensorflow==2.20.0
keras==3.11.2
numpy==2.2.6
pillow==11.3.0

# --- API ---
fastapi==0.115.0
starlette==0.47.2
pydantic==2.11.7
uvicorn[standard]==0.35.0
python-multipart==0.0.9

#Para instalar: pip install --upgrade pip
#		pip install -r requirements.txt